.header {
    padding: 10px;
    /* border-bottom: 2px solid gray; */
    border-bottom: 2px solid rgb(143, 37, 37);
    display: flex;
    justify-content: space-between;
    background-color: rgb(253, 242, 213);
}

.large_text {
    font-size: 50px;
    font-family: sans-serif;
    color: gray;
}

.contact_info {
    display: flex;
    justify-content: center;
    font-size: 22px;
    line-height: 26px;
    color: gray;
    font-family: sans-serif;
}

.main {
    font-family: 'Open Sans', sans-serif;
    
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(253, 242, 213);
}

.bio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    margin-bottom: 10px;
}

h3 {
    font-size: 130%;
}

.topic_heading {
    font-size: 30px;
    font-family: sans-serif;
    color: gray;
    width: 100%;
    display: flex;
    justify-content: center;
}

.description {
    padding: 10px;
}

.bio_description {
    width: 80%;
}

.bio_top {
    display: flex;
    flex-direction: row;
    padding: 10px;
    max-width: 700px;
}

.projects_list {
    margin: 10px;
    width: 80%;
}

.project_name {
    text-decoration: underline;
    font-size: 30px;
    color: black;
    display: flex;
    justify-content: left;
    margin-left: 20px;
}

.sub_heading {
    font-size: 80%;
}

.project_pic {
    float: left;
    margin: 10px;
}

.border {
    margin: 10px;
    width: 100%;
    height: 1px;
    background-color: lightgray;
}

.project {
    overflow: hidden;
}

.row {
    display: flex;
    flex-direction: row;
}

a:visited {
    text-decoration: none;
    color: black;
}